{%- set repo_name = app_repo_name -%}
{%- set docs_url = app_docs_url -%}
**{{ project_name }}** is a desktop application {{ project_extended_description | lower }}.

{% include 'template/README.partial.jinja' %}
